.headingChoose5 {
    height: 150px;
    width: 100%;
    /* border: 1px solid crimson; */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 45px;
    font-weight: bold;
}

.ChooseText5 {
    position: relative;
}

.curveChoose5 {
    height: 70px;
    width: 150px;
    border: solid 5px #2F30D6;
    border-color: #2F30D6 transparent transparent transparent;
    border-radius: 60%/70px 25px 0 0;
    position: absolute;
    left: -30px;
    top: 60px;
    /* border: 2px solid green; */
}

.acc {
    min-height: 50vh;
    margin: 0px 200px;
}

@media (max-width:500px) {
    .acc {
        margin: 10px;
    }
}